.slider {
    display: flex;
    align-items: center;
    gap: 10px;
}

li {
    display: none;
    list-style-type: none;
    animation: SwapForm 0.5s ease-out;
    opacity: 0;
}

ul {
    margin: 0;
    padding: 0;
}

.active {
    display: block;
    opacity: 1;
}

.slider__elements {
    display: flex;
    align-items: center;
    gap: 30px;
    background-color:#f6f5fa ;
    border-radius: 10px;
}

.slider__elements__text--teamTag {
    color: #3d9de1;
    font-size: 15px;
    font-weight: 600;
}

.arrow {
    border: solid #3d9de1;
    border-width: 0 1.8px 1.8px 0;
    display: inline-block;
    padding: 2.5px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .slider__elements__text--title {
    color: red;
  }

  .slider__elements__text--jobTitle,
  .slider__elements__text--teamName{
    font-size: 12px;
    color: #b2b2bb;
  }

.slider__next,.slider__prev {

}

.switch-arrow {
    border: solid #3d9de1;
    border-width: 0 1.8px 1.8px 0;
    display: inline-block;
    padding: 2.5px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.slider__prev {
    width: 40px;
    height: 30px;
    border-radius: 50%;
    background-color: #3d9de1;
    position: relative;
    cursor: pointer;
}

.slider__prev::before {
    content: '';
    position: absolute;
    top: 37%;
    left: 42%;
    width: 0;
    height: 0;
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
  
.slider__next {
    width: 40px;
    height: 30px;
    border-radius: 50%;
    background-color: #3d9de1;
    position: relative;
    cursor: pointer;
}

.slider__next::before {
    content: '';
    position: absolute;
    top: 37%;
    left: 32%;
    width: 0;
    height: 0;
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

@keyframes SwapForm {
    from {
        opacity: 0;
        display: block;
    }
    to {
        display: block;
        opacity: 1;
    }
}